@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 300px;
    height: 300px;
    border-collapse: collapse;
}

table tr.row1 {
    background-color: lightblue;
}

table tr.row2 {
    background-color: lightcoral;
}

table td {
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
}