@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --color0: #000000;
    --color2: #FFFFFF;
    --color1: #00000080;

    --font-header: 'Passion One', cursive;
    --font-default: 'Sriracha',Arial, Verdana, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    margin: auto;
    text-align: center;
    background-color: var(--color0);
}

header h1 {
    font-family: var(--font-header);
    font-weight: bold;
    font-size: 12vw;
    font-variant: small-caps;
    padding-top: 50px;
    color: var(--color2);
}

header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vw;
    padding-bottom: 50px;
    color: var(--color2);
}

header p a {
    text-decoration: none;
    color: var(--color2);
    font-weight: bolder;
}

header p a:hover {
    text-decoration: underline;
    color: var(--color2);
}

section {
    padding: 8vh 0vh 8vh 2vh;
    text-align: left;
    background-color: var(--color2);
    color: var(--color0);
    line-height: 2em;
    font-family: var(--font-default);
    font-size: 3vw;
}

section.white {
    box-shadow: var(--color1) 6px 6px 10px 10px;
}

section.white p.sep01 {
    padding-bottom: 2em;
}

section.img {
    box-shadow: inset var(--color1) 6px 6px 10px 0px;
    background-size: cover;
}
section.img p {
    display: inline-block;
    padding: 8px;
    background-color: var(--color1);
    color: var(--color2);
}

section.img#img01 {
    background: var(--color0) url('../images/background001.jpg') center right no-repeat fixed;
}

section.img#img02 {
    background: var(--color0) url('../images/background002.jpg') center right no-repeat fixed;
}

footer {
    margin: auto;
    text-align: center;
    background-color: var(--color0);
}

footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 2vw;
    color: var(--color2);
    padding: 1vh;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--color2);
}

footer a:hover {
    text-decoration: underline;
}