@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px;
}

header {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 0px 6px 6px 6px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4);
}

nav {
    background-color: gray;
    padding: 3px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.4);
    /* Deslocamento horizontal - Deslocamento vertical - Embaçamento - Espalhamento - Sombra*/
}

nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 30px;
}

main {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 0px 6px 6px 6px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4);
}

article {
    background-color: lightgray;
    padding: 5px;
}

article > aside {
    background-color: gray;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.4);
}

footer > p {
    margin: 0px;
}

div#bola {
    height: 100px;
    width: 100px;
    margin: 10px auto;
    background-color: white;
    border-radius: 50%;
}